
.footer-wrap {
    display: grid;
    grid-template-columns: (492px 1fr);
    align-items: center;
    height: 100%;


    @media (max-width: 1440px) {
        // height: 1043px;
        grid-template-columns: (210px 1fr);
    }

    &__logo {
        align-self: center;
        justify-self: flex-start;
        &_logo-img {
            max-width: 492px;
            height: auto;
            @media (max-width: 1440px) {
                max-width: 210px;
            }
        }
        @media (max-width: 1440px) {
        }
    }
    &__social {
        align-self: center;
        justify-self: flex-end;
        > img {
            width: 90px;
            height: 90px;
            margin-left: 110px;
            @media (max-width: 1440px) {
                width: 40px;
                height: 40px;
                margin-left: 50px;
            }
            @media (max-width: 768px) {
                margin-left: 10px;
            }

        }
    }



}