$hf_back_col: rgb(45, 49, 54);
$hf_inp_col: rgb(47, 51, 56);
$hf_red_col: rgb(190, 57, 59);
$hf_text_col: rgb(215, 215, 215);
$hf_frame_col: rgb(126, 126, 126);

// header {
//     background-color: $hf-back-col;
//     // height: 2435px;


//     @media (max-width: 1440px) {
//         // height: 1043px;
//     }
// }
.header-wrap {
    display: grid;
    grid-template-rows: (415px 560px 1fr);


    @media (max-width: 1440px) {
        // height: 1043px;
        grid-template-rows: (155px 240px 1fr);
    }

    &__logo {
        align-self: flex-start;
        justify-self: flex-start;
        padding-top: 125px;
        &_logo-img {
            max-width: 616px;
            height: auto;
            @media (max-width: 1440px) {
                max-width: 264px;
            }
        }
        @media (max-width: 1440px) {
            padding-top: 54px;
        }
    }
    &__show {
        align-self: center;
        justify-self: center;
        &_button {
            // background-image: url("images/contact_icon1.png");
            // background-repeat: no-repeat;
            // background-size: cover;
            width: 560px;
            height: 560px;
            border-radius: 50%;
            cursor: pointer;
            outline: none;
            -webkit-tap-highlight-color: transparent;
            background: transparent;
            > img {
                width: 100%;
                height: 100%;
            }

            @media (max-width: 1440px) {
                width: 240px;
                height: 240px;
            }
        }
    }
    &__user {
        padding-top: 70px;
        @media (max-width: 1440px) {
            padding-top: 50px;
        }
    }
}


